a.exe
settings.json
.vscode/c_cpp_properties.json
work/
report/homebook.aux
report/homebook.ind
report/homebook.fls
report/homebook.fdb_latexmk
report/homebook.log
report/homebook.pdf
report/homebook.synctex.gz
LAB3/report/homebook.aux
LAB3/report/homebook.fdb_latexmk
LAB3/report/homebook.fls
LAB3/report/homebook.log
LAB3/report/homebook.out
LAB3/report/homebook.pdf
LAB3/report/homebook.synctex.gz
LAB3/report/homebook.toc
